body{
 background-color: white;   
 color: black;
transition: background .5s;
}


.pp_img{
    width: 5em;
    height: 5em;
    float: left;
    padding: .5em;
    border-radius: 5em;
    position: absolute;
}

ul{
    list-style-type: none;
    overflow: hidden;
    /* background-color: #333333; */
    /* width: auto; */
    
    
}

li a{
    float: left;
    /* text-align: right; */
    padding-left: 1em;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    /* display: block; */
    /* width: fit-content; */
    margin-right: 1em;
}


#list_nav{
    padding-top: .8em;
    background-color: black;
    height: fit-content;
    margin-top: .5em;
    margin-left: 10vw;
    /* border-radius: 1em; */
    /* position: fixed; */
}

#bt{
    padding-left: .5em;
    padding-top: .5em;

}

.dark-mode {
    background-color: rgb(56, 54, 54);
    color: white;
    transition: background .5s;
}

.dk_btn{
    height: 3em;
    width: 3em;
    position: absolute;
    top: 0;
    right: 0vw;
}



#intro {
    background-color: rgba(169, 157, 94, 0.173);
}

#pro_title,#ts_title{
    font-size: 1.5em;
    font-style: arial;
    text-align: center;
    padding-top: .5em;
}

#git_img{
    height: 10em;
    width: 10em;
}

#git_img{
   text-align: center;
   width: 100%;
   text-decoration: none;
}

.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 2%;
    margin-left: 5em;
    margin-bottom: 2em;
    text-align: center;
    max-width: 250px;
    /* height: 12em; */
    /* background-image: url(/images/proj_image.jpg);
    background-size: cover; */
}

.card1 {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 2%;
    margin-left: 5em;
    margin-bottom: 2em;
    text-align: center;
    height: 30vh;
    background-color: white;
    /* background-image: url(/images/background_pattern.jpg); */
    /* background-size: cover; */
}

#proj_img{
    width: .1em;
    height: .1em;
}


.card-title {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 1em; */
    color: black;
    font-size: 1em;
    text-decoration: underline;
}

.cont{
    display: inline-block;
}

#project{
    background-color: aliceblue;
}

#lang-text{
    margin-bottom: 0.2em;
    margin-top: 1.2em;
}

#proj_btn{
    margin-bottom: 1em;
}

.card-img{
    margin-top: 1em;
}

#proj_brief{
    text-align: center;
    /* border: 1px solid black; */
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

#proj_btn:hover{
    background-color: rgb(67, 156, 230);
    transition: .3s;
    color: black;
    font-size: 1.3em;
}

#intro-back{
    background-color: black;
    max-width: auto;
    /* max-height: 30em; */
    /* margin-left: 1em; */
    /* margin-top: 1em; */
    margin-left: 20vw;
    margin-right: 15vw;
}

#intro-text{
    padding-inline: .5em;
    /* max-width: 50em; */
    text-align: center;
    padding: 1em;
    color: white;
   margin-top: 10vh;
   margin-left: 1em;
    
}

.proj_img_main{
    height: 20vh;
    width: 23vw;
}

.profile_pic{
    height: 50vh;
    width: 15vw;
    margin: .5em;
}


